<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Dashboard</title>
</head>
<body>
<header>
    <div class="container">
        <div class="row align-item-center justify-content-betwwen">
            <div class="logo">
                <img src="../images/logo-1.png" alt="logo-1">
            </div>
            <div class="nav">
                <ul>
                    <li><a href="/user/register">Register</a></li>
                    <li><a href="/user/login">login</a></li>
                </ul>
            </div>
        </div>
    </div>
</header>

<div class="dashboard">
    <h3>Hello !</h3>
    <p>Welcome To Our Dashboard </p>
    <span>Please Login To Visit Our <br> Site Now.</span>
</div>

</body>
</html>